.navbar{
    display: flex;
    align-items: center;
    background: rgba(0, 48, 48, 0.773);
    height: 50px;
    padding: 10px 10px  10px 20px;
 
    justify-content: space-between;
    color: white;
    .logo{
        font-weight: bold;
    }
    .user{
        display: flex;
        gap: 10px;
        img{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
        button{
            background-color:rgba(0, 139, 139, 0.773);
            color: white;
            font-size: small;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }
    }
}